<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  
  <body>
    <%- include('partials/navbar') %>    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" style="filter: hue-rotate(320deg);" />
      </div>
      <div class="company-info">
        <span>JOIN <span class="our">SACHA SAUDA</span></span>
        <p>
          <b>Sacha Sauda is a revolutionary platform</b> dedicated to addressing food insecurity by bridging the gap between food surplus and hunger. Inspired by the teachings of Guru Nanak Dev Ji, we believe that “feeding the hungry is the most profitable deal.” Our mission is to minimize food waste from weddings, parties, and restaurants by redistributing surplus food to those in need, while also promoting environmental sustainability and social responsibility.
          At Sacha Sauda, we aim to create a world where surplus food feeds the hungry, reduces environmental harm, and inspires businesses to adopt sustainable practices. Join us in making this vision a reality.
        </p>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
      <div class="card">
        <div class="card-image loading"><img src="/img/member-1.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span> Jasreen Bindra <span class="yellow-surname">Owner</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">FOUNDER </span> <br<br>
              Email: <a href="mailto:'32e12@gmail.com'">xxxxxxxxxxx@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="/img/member-2.png" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>RITU <span class="yellow-surname">SINGH</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">CO FOUNDER/span> <br>
              Pursuing IT Engineering (VIT Mumbai) <br>
              Email: <a href="mailto:'a@gmail.com'">ritusingh@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
            <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------------footer------------------------------------------ -->
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <span class="logo_name">SACHA SAUDA</span>
          </div>
          <div class="media-icons">
            <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
            <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Links</li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'upload' %}">Submit Photo</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Recommended</li>
            <li><a href="{% url 'category' 6 %}">India</a></li>
            <li><a href="{% url 'category' 5 %">Art and Culture</a></li>
            <li><a href="{% url 'category' 11 %">People</a></li>
            <li><a href="{% url 'category' 2 %">Travel</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Legal Info</li>
            <li><a href="{% url 'licence' %}">Licence</a></li>
            <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
            <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
          </ul>
        </div>
      </div>
  
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2021 <a href="#">Pico.</a></span>
        </div>
      </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
  <script src="/js/about.js"></script>
  
  </body>
  </html>
