:root {
    --primary-color: #ff5900;
    --primary-color-hover: #d05508;
    --border-color: #ccc;
    --input-border-color: #ddd;
    --error-color: red;
    --text-color: white;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url('/img/registration-bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.container {
    background-color: #ffffff9a;
    max-width: 40%;
    height: 60%;
    margin: 50px auto;
    padding: 3%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.689);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
   
       
}


.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.btn:hover {
    background-color: var(--primary-color-hover);
}
.error-message {
    color: var(--error-color);
    margin-bottom: 10px;
}
@media (max-width: 700px) {
    .container {
        max-width: 90%;
        height: 20%;
        margin: 20px auto;
        padding: 5%;
    }
    .form-group input {
        padding: 10px;
    }
    .btn {
        padding: 12px 20px;
    }
}
